img{
    background-color: silver ;
    width: 220px;
    height: 200px;
}


mat-form-field {
  width: 70%;
  margin-top: 20px;
}

/*mat-error, .*/

mat-error{
  font-size: 1.1rem!important;
}


input[type="file"]{
  visibility: hidden;
}


.img-loader{
  margin-bottom: 20px;
  margin-top: 20px;
}

.image-preview{
  margin-bottom: 20px;
  height: 230px;
  width: 230px;
}
