.aler {
  width: 71%;
}

.al {
  padding-left: 15px;
  padding-top: 14px;
}


body {
  background: url(/assets/images/login_bg.jpeg) no-repeat center center;
  -webkit-background-attachment: fixed;
  background-attachment: fixed;
  background-size: cover;
  padding: 0;
  position: relative;
  height: 1150px;
}

#form {
  background-color: #5555;
  color: #fff;
  font-size: 20px;

}

#loginform {
  width: 440px;
}

.aler_log {
  width: 100%;
}

#login {
  float: right;
}

.input-group-addon {
  width: 40px;
  height: 40px;
  margin-right: 8px;
}
